.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.like-content {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.like-content span {
  color: #9d9da4;
  font-family: monospace;
}

.like-content .btn-secondary {
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  background: #ed2553;
  border-radius: 12px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.like-content .btn-secondary:hover {
  transform: translateY(-3px);
}

.like-content .btn-secondary .fa {
  margin-right: 5px;
}

.animate-like {
  animation-name: likeAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

@keyframes likeAnimation {
  0% {
    transform: scale(30);
  }
  100% {
    transform: scale(1);
  }
}

.already-liked:before {
  color: #71173f
}

button:hover, #logout-button:hover {
  cursor: pointer;
}

.btn-outline-dark:hover {
  cursor: default;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

input[type='checkbox']:checked {
  background: #007bff;
}